{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="content__wrapper">
    <div class="content__scroll">
      <section id="titlechart">
        <div id="description">
          <h1>Section Slides</h1>
          <h2>Slide in your content with custom movements</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus sem vel porttitor viverra. Nulla iaculis nibh tincidunt sem pharetra, nec vehicula nulla faucibus.</p>
          <p>Morbi fermentum venenatis neque eget rhoncus. Nam iaculis a erat quis aliquam. Etiam pulvinar mi metus, eget vulputate ex blandit in.</p>
          <p>Phasellus sed nulla urna. Mauris sit amet elit orci. Aliquam ullamcorper felis sit amet justo maximus pretium at ut orci.</p>
        </div>
      </section>
      <section class="demo" id="section-slides">
        <div id="pinContainer">
          <div id="slideContainer">
            <section class="panel blue">
              <b>ONE</b>
            </section>
            <section class="panel turqoise">
              <b>TWO</b>
            </section>
            <section class="panel green">
              <b>THREE</b>
            </section>
            <section class="panel bordeaux">
              <b>FOUR</b>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
