{#
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <section class="intro neat-container">
    <div class="bubble-map__wrapper--interactive">
      <div class="neat-row">
        <div class="bubble-map__controls">
          <div class="neat-row tabs">
            <li><a class="tabs__link is-active" data-case="total" href="#">All cases</a></li>
            <li><a class="tabs__link" data-case="travel" href="#">Travel-related</a></li>
            <li><a class="tabs__link" data-case="local" href="#">Locally-aquired</a></li>
          </div>
          <div class="neat-row">
            <div class="slider" id="js-slider"></div>
          </div>
          <div class="neat-row">
            <h1 class="slider__date" id="js-date"></h1>
          </div>
        </div>
      </div>
      <div class="neat-row">
        <div id="bubbleMap" class="bubble-map js-bubble-map"
          data-url="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/zika.json"
          data-shape="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/florida-counties.json">
        </div>
      </div>
    </div>
    <div class="bubble-map__wrapper--stats neat-container">
      <div class="bubble-map__stat--wrapper">
        <div class="bubble-map__stat--heading">All Zika cases</div>
        <div class="bubble-map__stat bubble-map__stat--total">0</div>
      </div>
      <div class="bubble-map__stat--wrapper">
        <div class="bubble-map__stat--heading">Locally-aquired</div>
        <div class="bubble-map__stat bubble-map__stat--local">0</div>
      </div>
      <div class="bubble-map__stat--wrapper">
        <div class="bubble-map__stat--heading">Travel-related</div>
        <div class="bubble-map__stat bubble-map__stat--travel">0</div>
      </div>
      <div class="bubble-map__stat--wrapper">
        <div class="bubble-map__stat--heading">Pregnant women</div>
        <div class="bubble-map__stat bubble-map__stat--pregnant">0</div>
      </div>
      <div class="bubble-map__stat--wrapper">
        <div class="bubble-map__stat--heading">Non-resident</div>
        <div class="bubble-map__stat bubble-map__stat--non-resident">0</div>
      </div>
      <div class="bubble-map__stat--wrapper">
        <div class="bubble-map__stat--heading">Unknown ??</div>
        <div class="bubble-map__stat bubble-map__stat--unknown">0</div>
      </div>
    </div>
    <!-- <div class="intro__description">
      <a href="#panel-1" class="js-scrollTo">¿que mas?</a>
    </div> -->
  </section>
  <div class="panel__pin-container" id="pinContainer">
    <section id="panel-1" class="panel panel--blue" >
      <div class="panel__description">
        <b>ONE</b>
        <a href="#panel-2" class="js-scrollTo">das ist kewl</a>
      </div>
    </section>
    <section id="panel-2" class="panel panel--cyan">
      <div class="panel__description">
        <b>TWO</b>
        <a href="#panel-3" class="js-scrollTo">rien d'autre?</a>
      </div>
    </section>
    <section id="panel-3"class="panel panel--steel-blue">
      <div class="panel__description">
        <b>THREE</b>
        <a href="#panel-4" class="js-scrollTo">seriously?</a>
      </div>
    </section>
    <section id="panel-4" class="panel panel--silver">
      <div class="panel__description">
        <b>THE END</b>
      </div>
    </section>
  </div>
{% endblock %}
