{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div id="content-wrapper">
  <div id="example-wrapper">
    <div class="scrollContent">
      <section id="titlechart">
        <div id="description">
          <h1 class="badge gsap">Section Slides (manual)</h1>
          <h2>Slide in your content with custom movements</h2>
          <p>Similar to the <a href="../advanced/section_wipes_manual.html">Section Wipe example</a> you need to create a container with the size of the viewport and pin it.</p>
          <p>Now you can create custom animations to present your content and bind them to the scroll position.</p>
          <p>In this example an additional 3D effect is used just for shits and giggles, but of course you could just as well have a continuous left-to-right movement only (or any other movement for that matter).</p>
          <a href="#" class="viewsource">view source</a>
        </div>
      </section>
      <section class="demo" id="section-slides">
        <div id="pinContainer">
          <div id="slideContainer">
            <section class="panel blue">
              <b>ONE</b>
            </section>
            <section class="panel turqoise">
              <b>TWO</b>
            </section>
            <section class="panel green">
              <b>THREE</b>
            </section>
            <section class="panel bordeaux">
              <b>FOUR</b>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
