<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="**TODO: SEO DESCRIPTION HERE**" />
<meta name="author" content="Kara Dapena & Christopher Williams" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="**TODO: KEYWORDS HERE**" />
<meta name="copyright" content="&copy; 2017 Miami Herald" />
<meta name="robots" content="index,follow" />
<meta property="og:title" content="Interactive: Daily Florida Zika Tracker" />
<meta property="og:type" content="article" />
<meta property="og:description" content="**TODO: OG DESCRIPTION**" />
<meta property="og:image" content="**TODO: OG IMAGE URL**" />
<meta property="og:url" content="**TODO: OG SITE URL**" />
<meta property="og:site_name " content="Miami Herald" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@MiamiHerald" />
<meta name="twitter:creator" content="@MiamiHerald" />
<meta name="twitter:title" content="Interactive: Daily Florida Zika Tracker" />
<meta name="twitter:description" content="**TODO: TWITTER IMAGE URL**" />
<meta name="twitter:image:src" content="**TODO: OG SITE URL**" />
