<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="**TODO: SEO DESCRIPTION HERE**" />
<meta name="author" content="Kara Dapena & Christopher Williams" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="copyright" content="&copy; 2017 Miami Herald" />
<meta name="robots" content="index,follow" />
<meta property="fb:app_id" content="133847067760" />
<meta property="og:title" content="Interactive: Daily Florida Zika Tracker" />
<meta property="og:type" content="article" />
<meta property="og:description" content="See how Zika virus, a public health emergency, is cropping up across the state and U.S." />
<meta property="og:image" content="**TODO: OG IMAGE URL**" />
<meta property="og:url" content="http://www.miamiherald.com/news/health-care/article66790817.html" />
<meta property="og:site_name " content="Miami Herald" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@MiamiHerald" />
<meta name="twitter:creator" content="@MiamiHerald" />
<meta name="twitter:title" content="Interactive: Daily Florida Zika Tracker" />
<meta name="twitter:description" content="Daily @MiamiHerald #Zika tracker: See what parts of Florida and the U.S. have been hit by #ZikaVirus" />
<meta name="twitter:image:src" content="**TODO: OG SITE URL**" />
