<section id="section-3-intro">
  <div class="neat-container-sm">
    <h3>
      What’s Zika virus?
    </h3>

    <p>
      Zika virus <a href="http://www.miamiherald.com/latest-news/article71642902.html" target="_blank">causes a serious birth defect</a> called microcephaly — an underdeveloped brain and small head — and is linked other neurological disorders in adults. Roughly <a href="http://www.floridahealth.gov/diseases-and-conditions/zika-virus/index.html?utm_source=flhealthIndex" target="_blank">4 in 5 infected people</a> are asymptomatic, but its most common symptoms are mild and include fever, rash, joint pain and red eyes.
    </p>

    <p>
      The virus is primarily spread through mosquito bites and can also be transmitted through sex and blood transfusions.
    </p>

    <p>
      A public health emergency of international concern was declared by the World Health Organization on Feb. 1 as the virus spread through Latin America and the Caribbean.
    </p>

    <h3>
      Severe birth defects
    </h3>

    <p>
      The CDC has confirmed Zika virus <a href="http://www.miamiherald.com/latest-news/article71642902.html" target="_blank">causes microcephaly</a> and other severe fetal brain defects. It can be passed from a pregnant woman to her fetus during pregnancy or at delivery. The agency advises women who are pregnant or thinking of becoming pregnant to not travel to <a href="http://www.cdc.gov/zika/geo/index.html" target="_blank">Zika-affected</a> areas.
    </p>

    <p>
      If a pregnant woman’s partner has been to such an area, the couple should abstain from sex or use condoms during the pregnancy. Currently, the CDC does not believe there is risk for the <a href="http://www.cdc.gov/zika/pregnancy/question-answers.html" target="_blank">future pregnancies</a> of a woman who has Zika once the virus clears from her blood.
    </p>

    <h3>
      Mosquito control is key
    </h3>

    <p>
      Zika is primarily spread to people through the bite of an infected <em>Aedes aegypti</em> mosquito — the same kind that causes dengue and chikungunya viruses.
    </p>

    <p>
      To keep mosquitoes from multiplying, the Florida Department of Health recommends draining standing water (no matter how seemingly small the amount) once or twice a week. Garbage cans, bird baths, pool covers, etc... are all prime breeding grounds. Miami-Dade County residents can request a mosquito inspection or report a mosquito nuisance by calling <a href="file://localhost/tel/+18883113233" target="_blank">3-1-1</a>.
    </p>

    <p>
      The department also recommends using screens to cover doors and windows. To avoid bites while outside, cover skin with clothing and use mosquito repellent. Those with DEET, picaridin, oil of lemon eucalyptus, and IR3535 are effective. Florida has a Zika Virus Information Hotline managed by the Department of Health that can be reached at <a href="file://localhost/tel/+18556226735" target="_blank">1-855-622-6735</a>.
    </p>
  </div>
</section>
