<section id="panel-1" class="panel panel--blue" >
  <div class="bubble-map__wrapper--top">
    <div class="neat-row">
      <h1 class="slider__date" id="js-date-us"></h1>
    </div>
    <div class="neat-row">
      <div class="slider" id="js-slider-us"></div>
      <div class="slider__controls">
        <i class="fa fa-play-circle fa-2x js-play js-play--us" aria-hidden="true"></i>
        <i class="fa fa-chevron-circle-left fa-2x js-step-down js-step-down--us" aria-hidden="true"></i>
        <i class="fa fa-chevron-circle-right fa-2x js-step-up js-step-up--us" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="bubble-map__wrapper--interactive">
    <div class="neat-row">
      <div class="bubble-map__controls">
        <div class="neat-row tabs">
          <li><a class="tabs__link tabs__link--us is-active" data-case="total" href="#">Travel + Local</a></li>
          <li><a class="tabs__link tabs__link--us" data-case="local" href="#">Local Only</a></li>
          <li><a class="tabs__link tabs__link--us" data-case="travel" href="#">Travel Only</a></li>
        </div>
      </div>
    </div>
    <div class="neat-row">
      <div id="bubbleMap2" class="bubble-map js-bubble-map-us"
        data-url="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/usZika.json"
        data-shape="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/us-states-with-pr.json">
      </div>
    </div>
  </div>
  <div class="bubble-map__wrapper--stats neat-container">
    <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--us">
      <div class="bubble-map__stat--heading">All Zika cases</div>
      <div class="bubble-map__stat bubble-map__stat--total-us">0</div>
    </div>
    <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--us">
      <div class="bubble-map__stat--heading">Locally-aquired</div>
      <div class="bubble-map__stat bubble-map__stat--local-us">0</div>
    </div>
    <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--us">
      <div class="bubble-map__stat--heading">Travel-related</div>
      <div class="bubble-map__stat bubble-map__stat--travel-us">0</div>
    </div>
  </div>
</section>
