<section id="section-1-outro">
  <div class="neat-container-sm">
    <div class="share-container">
  		<div class="share-wrapper">
  			<a href="https://twitter.com/intent/tweet?text=" class="js-share share-link" data-share="Daily @MiamiHerald #Zika tracker: See what parts of Florida have been hit by #ZikaVirus"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/twitter-share.png" alt="Share on twitter" /></a>
  			<a href="https://www.facebook.com/sharer/sharer.php?u=" class="js-share share-link" data-share="See how Zika virus, a public health emergency, is cropping up across the state and the U.S."><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/facebook-share.png" alt="Share on facebook" /></a>
  			<a href="mailto:?subject=Miami Herald: See how Zika virus, a public health emergency, is cropping up across the state and U.S.: http://hrld.us/housing-costs" class="share-link"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/email-share.png" alt="Share by email" /></a>
  		</div>
  	</div>

    <div class="section__heading">
      Florida particularly at risk
    </div>

    <p>
      With an abundant, almost year-round population of <em>Aedes aegypti</em> mosquitoes (the bloodsuckers capable of transmitting the illness) and a high volume of travelers from <a href="http://www.cdc.gov/zika/geo/active-countries.html" target="_blank">Zika-prone</a> countries, the Sunshine State is especially vulnerable to an outbreak. In February 2016, the CDC began to issue weekly counts of cases reported by states and territories of laboratory-confirmed symptomatic cases. In February 2017 they began reporting blood donors whose blood tested positive for Zika virus RNA regardless of being symptomatic. The categories listed are not mutually exclusive and cannot be added together.
    </p>
  </div>
</section>
