
<section class="intro" id="section-0">
  <div class="video-gradient"></div>
  <div class="fullscreen-bg">
    <video loop="true" muted="true" autoplay="true" class="fullscreen-bg__video" poster="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/images/zika-poster-v2.jpg">
      <source src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/video/zika-video-v2.mp4" type="video/mp4">
    </video>
  </div>

  <div id="headline-container-zika" class="headline-wrapper-zika headline-wrapper-zika__show">
		<h1 class="big-hed-one">Daily Florida Zika&nbsp;tracker</h1><br /></br />
		<div id="intro-scroll-down">
			<a href="#scroll-down-stop">
				<p>Jump to beginning</p>
			</a>
		</div>
	</div>
</section>
