<section id="section-1">
  <div class="bubble-map__wrapper--top sticky" id="section-1-sticky">
    <div class="sticky__wrapper">
      <div class="neat-row">
        <span class="slider__title">Florida</span><span class="slider__date" id="js-date-fl"></span>
      </div>
      <div class="neat-row">
        <div class="slider slider--maps" id="js-slider-fl"></div>
        <div class="slider__controls slider__controls--maps">
          <span class="awesome-icon-wrapper js-play--fl">
            <i class="fa fa-play js-play js-play--fl" aria-hidden="true"></i>
          </span>
          <span class="awesome-icon-wrapper js-step-down--fl">
            <i class="fa fa-chevron-left js-step-down js-step-down--fl" aria-hidden="true"></i>
          </span>
          <span class="awesome-icon-wrapper js-step-up--fl">
            <i class="fa fa-chevron-right js-step-up js-step-up--fl" aria-hidden="true"></i>
          </span>
          <span class="awesome-icon-wrapper js-reset--fl">
            <i class="fa fa-refresh js-reset js-reset--fl" aria-hidden="true"></i>
          <span>
        </div>
      </div>
    </div>
  </div>
  <div class="neat-container">
    <div class="bubble-map__wrapper--interactive">
      <div class="neat-row">
        <div class="bubble-map__controls">
          <div class="neat-row tabs">
            <li class="tabs__li--fl"><a class="tabs__link tabs__link--fl is-active" data-case="total" href="#">Local + Travel</a></li>
            <li class="tabs__li--fl"><a class="tabs__link tabs__link--fl" data-case="local" href="#">Local Cases</a></li>
            <li class="tabs__li--fl"><a class="tabs__link tabs__link--fl" data-case="travel" href="#">Travel Cases</a></li>
          </div>
        </div>
      </div>
      <div class="neat-row">
        <div class="legend legend--bubbles">
          <img src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/images/legend_legend.png" alt="Map legend" />
        </div>
        <div class="legend legend--select">
          <img src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/images/legend_select.png" alt="Map select" />
        </div>
        <div class="legend legend--filter">
          <img src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/images/legend_filter.png" alt="Map filter" />
        </div>
        <div class="neat-row">
          <div class="bubble-map__tooltip-mobile bubble-map__tooltip-mobile--fl">Select a county</div>
        </div>
        <div id="bubbleMap1" class="bubble-map js-bubble-map-fl"
          data-url="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/zika.json"
          data-shape="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/florida-counties.json"
          data-feed="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/data/zika-newsfeed.csv">
        </div>
      </div>
    </div>
    <div class="bubble-map__wrapper--stats neat-container">
      <div class="neat-row">
        <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--fl">
          <div class="bubble-map__stat--heading">Local + Travel</div>
          <div class="bubble-map__stat bubble-map__stat--total-fl">0</div>
        </div>
        <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--fl">
          <div class="bubble-map__stat--heading">Local Cases</div>
          <div class="bubble-map__stat bubble-map__stat--local-fl">0</div>
        </div>
        <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--fl">
          <div class="bubble-map__stat--heading">Travel Cases</div>
          <div class="bubble-map__stat bubble-map__stat--travel-fl">0</div>
        </div>
        <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--fl">
          <div class="bubble-map__stat--heading">Pregnant Women</div>
          <div class="bubble-map__stat bubble-map__stat--pregnant-fl">0</div>
        </div>
        <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--fl">
          <div class="bubble-map__stat--heading">Unknown Origin<span class="bubble-map__stat--subheading">(Local or Travel)</span></div>
          <div class="bubble-map__stat bubble-map__stat--undetermined-fl">0</div>
        </div>
        <div class="bubble-map__stat--wrapper bubble-map__stat--wrapper--fl">
          <div class="bubble-map__stat--heading">Unknown County<span class="bubble-map__stat--subheading">(Local Cases)</span></div>
          <div class="bubble-map__stat bubble-map__stat--unknown-fl">0</div>
        </div>
      </div>
      <div class="neat-row">
        <div class="newsfeed__heading">In the news</div>
        <div id="newsFeedOuter" class="newsfeed__wrapper"></div>
      </div>
    </div>
  </div>
</section>
