<section id="section-1-intro">
  <div class="neat-container">
    <div class="section-heading">
      Miami-Dade County hit hard
    </div>

    <p>
      The first place in the continental United States where people were infected with Zika virus through the bite a local mosquito was in <a href="http://www.miamiherald.com/news/health-care/article95330072.html" target="_blank">Wynwood</a> just north of downtown Miami. The Florida Department of Health confirmed the two local cases July 29, 2016. Florida’s first CDC-confirmed travel-related cases were in Miami-Dade and Hillsborough counties six months earlier.
    </p>

    <p>
      The map below shows when the Florida Department of Health reported cases in each county. In late 2016 the department began including pregnant women and non-residents who were diagnosed in Florida in the state’s county and type-of-transmission totals. The categories listed are not mutually exclusive and cannot be added together.
    </p>
  </div>
</section>
