<section class="intro" id="section-0">
  <div class="video-gradient"></div>
  <div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
      <source src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/video/timelapse.webm" type="video/webm">
      <source src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/video/timelapse.mp4" type="video/mp4">
    </video>
  </div>

  <div class="intro__wrapper">
    <div class="intro__heading">
      <span><img src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/images/mh-logo.svg" alt=""></span>Zika Tracker
    </div>
  </div>

  <div class="next-section next-section--desktop">
    <div class="neat-row">
      <a href="#section-1" class="js-scrollTo anchor anchor__intro"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
