<section id="section-1-intro">
  <div class="neat-container-sm">
    <div class="byline">
      <p>
        <span>By Kara Dapena, Damian Franco and Chris Williams</span>
      </p>
      <p>
        <a href="mailto:kdapena@miamiherald.com">kdapena@miamiherald.com</a>
      </p>
		</div>

    <div class="share-container">
  		<div class="share-wrapper">
  			<a href="https://twitter.com/intent/tweet?text=" class="js-share share-link" data-share="http://hrld.us/housing-costs"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/twitter-share.png" alt="Share on twitter"></img></a>
  			<a href="https://www.facebook.com/sharer/sharer.php?u=" class="js-share share-link" data-share="http://hrld.us/housing-costs"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/facebook-share.png" alt="Share on facebook"></img></a>
  			<a href="mailto:?subject=Miami Herald: See where you can afford a home in South Florida&amp;body=See what your money can get you in Miami-Dade and Broward counties: http://hrld.us/housing-costs" class="share-link"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/email-share.png" alt="Share by email"></img></a>
  		</div>
  	</div>

    <div class="section__heading">
      Miami-Dade County hit hard
    </div>

    <p>
      The first place in the continental United States where people were infected with Zika virus through the bite a local mosquito was in <a href="http://www.miamiherald.com/news/health-care/article95330072.html" target="_blank">Wynwood</a> just north of downtown Miami. The Florida Department of Health confirmed the two local cases July 29, 2016. Florida’s first CDC-confirmed travel-related cases were in Miami-Dade and Hillsborough counties six months earlier.
    </p>

    <p>
      The map below shows when the Florida Department of Health reported cases in each county. In late 2016 the department began including pregnant women and non-residents who were diagnosed in Florida in the state’s county and type-of-transmission totals. The categories listed are not mutually exclusive and cannot be added together.
    </p>
  </div>
</section>
