<section class="panel" id="section-3">
  <div class="neat-container">
    <div class="territories__wrapper--top">
      <div class="neat-row">
        <span class="slider__title">U.S. Territories</span><span class="slider__date" id="js-date-us-territories"></span>
      </div>
      <div class="neat-row">
        <div class="slider slider--territories" id="js-slider-us-territories"></div>
        <div class="slider__controls slider__controls--territories">
          <i class="fa fa-play-circle fa-2x js-play js-play--territories" aria-hidden="true"></i>
          <i class="fa fa-chevron-circle-left fa-2x js-step-down js-step-down--territories" aria-hidden="true"></i>
          <i class="fa fa-chevron-circle-right fa-2x js-step-up js-step-up--territories" aria-hidden="true"></i>
        </div>
        <div class="tabs tabs--per-million-territories">
          <li><a class="tabs__link tabs__link--us-territories-100k is-active" data-number="total" href="#">Total</a></li>
          <li><a class="tabs__link tabs__link--us-territories-100k" data-number="per100k" href="#">Per 100k</a></li>
        </div>
      </div>
    </div>
    <div class="territories__wrapper--stats neat-container">
      <div class="territories__territory territories__territory--as">
        <div class="territories__territory--heading">American Samoa</div>
        <div class="territories__stat--heading">All Zika cases</div>
        <div class="territories__stat territories__stat--total-as">0</div>
        <div class="territories__stat--heading">Locally-aquired</div>
        <div class="territories__stat territories__stat--local-as">0</div>
        <div class="territories__stat--heading">Travel-related</div>
        <div class="territories__stat territories__stat--travel-as">0</div>
      </div>
      <div class="territories__territory territories__territory--pr">
        <div class="territories__territory--heading">Puerto Rico</div>
        <div class="territories__stat--heading">All Zika cases</div>
        <div class="territories__stat territories__stat--total-pr">0</div>
        <div class="territories__stat--heading">Locally-aquired</div>
        <div class="territories__stat territories__stat--local-pr">0</div>
        <div class="territories__stat--heading">Travel-related</div>
        <div class="territories__stat territories__stat--travel-pr">0</div>
      </div>
      <div class="territories__territory territories__territory--usvi">
        <div class="territories__territory--heading">U.S. Virgin Islands</div>
        <div class="territories__stat--heading">All Zika cases</div>
        <div class="territories__stat territories__stat--total-usvi">0</div>
        <div class="territories__stat--heading">Locally-aquired</div>
        <div class="territories__stat territories__stat--local-usvi">0</div>
        <div class="territories__stat--heading">Travel-related</div>
        <div class="territories__stat territories__stat--travel-usvi">0</div>
      </div>
      <div class="territories__territory territories__territory--totals">
        <div class="territories__territory--heading">Total in territories</div>
        <div class="territories__stat--heading">All Zika cases</div>
        <div class="territories__stat territories__stat--total-totals">0</div>
        <div class="territories__stat--heading">Locally-aquired</div>
        <div class="territories__stat territories__stat--local-totals">0</div>
        <div class="territories__stat--heading">Travel-related</div>
        <div class="territories__stat territories__stat--travel-totals">0</div>
      </div>
  </div>
  <div class="next-section">
    <div class="neat-row">
      <a href="#section-2" class="js-scrollTo anchor anchor__us"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
