<section id="section-1-outro">
  <div class="neat-container">
    <div class="section-heading">
      Florida particularly at risk
    </div>

    <p>
      With an abundant, almost year-round population of <em>Aedes aegypti</em> mosquitoes (the bloodsuckers capable of transmitting the illness) and a high volume of travelers from <a href="http://www.cdc.gov/zika/geo/active-countries.html" target="_blank">Zika-prone</a> countries, the Sunshine State is especially vulnerable to an outbreak. In February 2016, the CDC began to issue weekly counts of cases reported by states and territories of laboratory-confirmed symptomatic cases. In February 2017 they began reporting blood donors whose blood tested positive for Zika virus RNA regardless of being symptomatic. The categories listed are not mutually exclusive and cannot be added together.
    </p>
  </div>
</section>
