<section class="intro" id="section-0">
  <div class="video-gradient"></div>
  <div class="fullscreen-bg">
    <video loop="true" muted="true" autoplay="true" class="fullscreen-bg__video">
      <source src="http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/video/zika-timelapse.mp4" type="video/mp4"></source>
    </video>
  </div>

  <div id="headline-container" class="text-wrapper text-wrapper__show">
		<h1 class="big-hed-one">Daily Florida Zika&nbsp;tracker</h1><br></br>
		<!-- <h1 class="big-hed-two">See how the illness, a public health emergency, is spreading across the state and&nbsp;country</h1><br></br> -->
		<div id="scroll-down">
			<a href="#scroll-down-stop">
				<p>Scroll down to get started</p>
			</a>
		</div>
	</div>
</section>
