<section id="section-3-intro">
  <div class="neat-container-sm">
    <div class="share-container">
  		<div class="share-wrapper">
  			<a href="https://twitter.com/intent/tweet?text=" class="js-share share-link" data-share="Daily @MiamiHerald #Zika tracker: See what parts of Florida have been hit by #ZikaVirus"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/twitter-share.png" alt="Share on twitter"></img></a>
  			<a href="https://www.facebook.com/sharer/sharer.php?u=" class="js-share share-link" data-share="See how Zika virus, a public health emergency, is cropping up across the state and U.S."><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/facebook-share.png" alt="Share on facebook"></img></a>
  			<a href="mailto:?subject=Miami Herald: See how Zika virus, a public health emergency, is cropping up across the state and U.S.: http://hrld.us/housing-costs" class="share-link"><img src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/email-share.png" alt="Share by email"></img></a>
  		</div>
  	</div>

    <div class="section__heading">
      Puerto Rico is epicenter of U.S. outbreak
    </div>

    <p>
      The vast majority of Zika virus cases in the U.S. territories, particularly Puerto Rico, have been spread locally through Zika-positive mosquitoes and sexual transmission. The CDC reports weekly totals of symptomatic cases and Zika-positive blood donors regardless of symptoms. The categories below are not mutually exclusive and cannot be added together.
    </p>
  </div>
</section>
