.byline {
  font-family: $heading-font-family-script;
  margin-bottom: $gutter / 2;
  border-bottom: 2px solid #888;
  display: inline-block;
  padding-bottom: 3px;
  font-size: $sm;

	p {
    font-size: $sm;

    &:nth-child(1) {
      text-transform: uppercase;
    }

    &:nth-child(2) {
      text-transform: none;
      font-style: italic;
    }
  }

  a {
    color: #0d76ba;
    text-decoration: none;
  }
}
