.followMeBar {
  background-color: $white;
	position: relative;
	z-index: 1;

  padding-top: 5px;
  padding-bottom: 5px;

  @include media($medium-screen-up) {
    padding-top: $gutter / 2;
    padding-bottom: $gutter / 2;
  }
}
.followMeBar.fixed {
	position: fixed;
	top: 0;
	z-index: 999999;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid $grey 1px;
}

.followMeBar.fixed.absolute {
	position: absolute;
}

.sticky {
  &__wrapper {
    padding-left: 10px;
    padding-right: 10px;

    @include media($medium-screen-up) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
