.followMeBar {
  position: relative;
  z-index: 1;
  background-color: $white;
  padding-bottom: 5px;
}

.followMeBar.fixed {
  width: 100%;
  box-sizing: border-box;
  z-index: 999999;
}

.followMeBar.fixed.absolute {
  position: absolute;
}
