.followMeBar {
  position: relative;
  z-index: 1;
  background-color: $white;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 999999;
}

.followMeBar.fixed.absolute {
  position: absolute;
}
