.legend {
  display: inline-block;
  z-index: 1;

  img {
    max-width: 100%;
  }

  width: 75px;
  &--bubbles {
    @include position(absolute, null null 5% 5%);
  }

  &--select {
    @include position(absolute, 56% null null 38%);
  }

  &--filter {
    @include position(absolute, 17% 2% null null);
  }

  @include media($medium-screen-up) {
    width: 100px;
    &--bubbles {
      @include position(absolute, null null 0% 5%);
    }

    &--select {
      @include position(absolute, 48% null null 46%);
    }

    &--filter {
      @include position(absolute, 10% 0% null null);
    }
  }

  @include media($large-screen-up) {
    width: 150px;
    &--bubbles {
      @include position(absolute, null null 0% 5%);
    }

    &--select {
      @include position(absolute, 48% null null 37%);
    }

    &--filter {
      @include position(absolute, 15% 0% null null);
    }
  }
}
