.sticky {
  z-index: 999999;
  background-color: $white;
  border-bottom: solid $grey 1px;
  margin-bottom: $gutter + 10px;
  padding-top: $gutter / 3;
  transform: translate3d(0, 0, 0);

  &__wrapper {
    text-size-adjust: none !important;
    background-color: $white;
    margin-bottom: 10px;
  }
}
