.territories {
  &__territory {
    margin: 0 2rem 2rem 2rem;
    text-align: center;
    border-bottom: solid 2px black;
    @include media($medium-screen-up) {
      margin: 0 0 2rem 0;
      text-align: left;
      @include span-columns(3 of 12);
      border-right: solid 2px black;
      border-bottom: none;
      &:last-child {
        border-right: none;
      }
    }

    &--heading {
      font-size: em(21);
      margin-bottom: 1rem;
      @include media($medium-screen-up) {
        font-size: em(24);
      }
      text-transform: uppercase;
      font-weight: bold;
      font-family: $heading-font-family-sans;
    }
  }

  &__stat {
    font-size: em(32);
    margin-bottom: 0.5rem;
    @include media($large-screen-up) {
      font-size: em(80);
    }
    font-family: $heading-font-family-script;
    font-weight: bold;
    color: $black;

    &--heading {
      font-family: $heading-font-family-script;
      font-weight: bold;
      font-size: em(23);
      color: $black;
    }
  }
}
