// let parent container go full width
section[role=main] {
  width: 100% !important;
  padding: $gutter / 2;

  @include media($medium-screen-up) {
    padding: $gutter;
  }

  .row {
    margin: 0;
  }
}

section.panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
