$heading-font-family-script: 'McClatchy Slab', Georgia, Times, 'Times New Roman', serif;
$heading-font-family-sans: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;
$body-font-family: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;

$white: #FFFFFF;
$black: #000000;
$blue: #379AD3;

$devils-grey: #666666;
$silver-surfer: #8AD2B7;
$ultralight-beam: #FFE066;
$lawn-gnome: #F25F5C;
$slated-blue: #28587B;
