$heading-font-family-script: 'McClatchy Slab', Georgia, Times, 'Times New Roman', serif;
$heading-font-family-sans: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;
$body-font-family: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;

$white: #FFFFFF;
$black: #3A464C;
$blue: #379ad3;
$silver: #A6AFB5;
$cyan: #DBF1FF;
$steel-blue: #387DA5;
$grey: #eff0f2;
