.newsfeed {
  &__heading {
    text-transform: uppercase;
    font-family: $heading-font-family-sans;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__wrapper {
    a {
      font-size: em(21);
      text-align: center;
      @include media($large-screen-up) {
        font-size: em(30);
      };
      display: none;
      text-decoration: none;
      color: $black;
      font-family: $heading-font-family-script;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }

      &.is-active {
        display: block;
      }
    }
  }
}
