.newsfeed {
  &__heading {
    font-size: $lg;
    font-family: $heading-font-family-script;
    font-weight: bold;
    text-align: center;
  }

  &__wrapper {
    margin-bottom: 40px;

    @include media($medium-screen-up) {
      margin-bottom: none;
    }

    a {
      font-size: $med;
      text-align: center;
      display: none;
      text-decoration: none;
      color: $black;
      font-family: $heading-font-family-script;
      font-weight: bold;

      &:hover {
        color: $black;
        text-decoration: underline;
      }

      &.is-active {
        display: block;
      }

      & span.newsfeed__date {
        font-size: $sm;
        font-family: $heading-font-family-sans;
      }
    }
  }

  .fa.fa-arrow-circle-right {
    color: $lawn-gnome;
  }
}
