.slider {
  &--territories {
    @include span-columns(6 of 12);
  }

  &--maps {
    @include span-columns(6 of 8);
  }

  margin-bottom: 1rem;

  &__controls {
    &--territories {
      @include span-columns(2 of 12);
    }

    &--maps {
      @include span-columns(2 of 8);
    }
    
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;

    .js-play,
    .js-step-down,
    .js-step-up {
      cursor: pointer;
      transition: color 0.3s linear;

      &:hover {
        color: $blue;
      }
    }
  }

  .noUi-base {
    z-index: 0;
  }

  &__date {
    font-family: $heading-font-family-sans;
    font-size: em(46);
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;
  }
}
