.slider {
  @include media($medium-screen-up) {
    &--territories {
      @include span-columns(6 of 12);
    }

    &--maps {
      @include span-columns(6 of 8);
    }
  }

  margin-bottom: 1rem;

  &__controls {
    @include media($medium-screen-up) {
      &--territories {
        @include span-columns(2 of 12);
      }

      &--maps {
        @include span-columns(2 of 8);
      }

      text-align: left;
      padding-left: 1rem;
    }

    text-align: center;
    padding-left: 0;
    margin-bottom: 1rem;

    .js-play,
    .js-step-down,
    .js-step-up {
      cursor: pointer;
      transition: color 0.3s linear;

      &:hover {
        color: $blue;
      }
    }
  }

  .noUi-base {
    z-index: 0;
  }

  &__date {
    font-size: em(24);
    @include media($medium-screen-up) {
      font-size: em(46);
    }
    font-family: $heading-font-family-sans;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;
  }
}
