.tabs {
  text-align: center;
  padding-left: 0;
  @include fill-parent();
	margin: 0 0 $gutter;

  li {
    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      &:last-child {
        @include reset-display;
      }
    }
  }

  &--per-million-us {
    @include media($medium-screen-up) {
      li {
        @include span-columns(4 of 8);
        &:last-child {
          @include reset-display;
          margin-bottom: $gutter / 2;
        }
      }
    }
  }

  &--per-million-territories {
    margin-top: $gutter;

    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      li {
        @include span-columns(4 of 8);
        &:last-child {
          @include reset-display;
        }
      }
    }
  }

  li {
    cursor: pointer;
    display: inline-block;
	}

  a {
    font-size: $sm;
    padding: 5px;
    font-family: $heading-font-family-sans;

    @include media($large-screen-up) {
      font-size: $lg;
      padding: $gutter / 3;
      border: solid 3px transparentize($black, 0.8);
    }
    
    background-color: #eff0f2;
    color: $black;
    font-weight: bold;
    display: block;
    letter-spacing: 0;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;

    &.is-active,
    &:hover {
      color: $white;
      background: $ultralight-beam;
    }
  }
}
