.tabs {
  display: none;

  &.is-animating {
    display: block;
  }

  text-align: center;
  padding-left: 0;
  @include fill-parent();
	margin: 0 0 1rem;

  li {
    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      &:last-child {
        @include reset-display;
      }
    }
  }

  &--per-million-us {
    @include media($medium-screen-up) {
      li {
        @include span-columns(4 of 8);
        &:last-child {
          @include reset-display;
          margin-bottom: 3rem;
        }
      }
    }
  }

  &--per-million-territories {
    @include span-columns(4 of 12);
    @include media($medium-screen-up) {
      li {
        @include span-columns(4 of 8);
        &:last-child {
          @include reset-display;
          margin-bottom: 3rem;
        }
      }
    }
  }

  li {
    cursor: pointer;
    display: inline-block;
	}

  a {
    font-size: em(12);
    padding: 0.75rem;
    @include media($large-screen-up) {
      font-size: em(18);
      padding: 1rem;
    }
    background-color: #eff0f2;
    color: $black;
    font-weight: bold;
    display: block;
    letter-spacing: 0;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: solid 3px transparentize($black, 0.8);
    text-transform: uppercase;

    &.is-active,
    &:hover {
      color: $white;
      background: $blue;
    }
  }
}
