.panel {
  @include size(100%);
  position: absolute;

  background-image: url("/images/example_bg_spacer_h.gif");

  &--blue { background-color: $blue; }
  &--silver { background-color: $silver; }
  &--cyan { background-color: $cyan; }
  &--steel-blue { background-color: $steel-blue; }

  &__wrapper {
    @include size(100%);
    text-align: center;
  }

  &__pin-container {
    @include size(100%);
    overflow: hidden;
  }
}
