.share-link {
  display: inline-block;
  margin-right: $gutter / 3;

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 30px;
    text-align: center;
  }
}

.share-wrapper {
  margin-bottom: $gutter / 2;
}

.share-container {
  &--center {
    text-align: center;
  }
}
