.fullscreen-bg {
  &__video {
    @include position(absolute, 0 null null 0);
    @include size(100% auto);
    z-index: -100;

    &::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none !important;
    }
  }

  &__image {
    display: none;
    background: url('http://media.miamiherald.com/static/media/projects/2016/zika-interactive-v2/site/images/zika-poster.jpg') no-repeat center center fixed;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

#section-0 {
  width: 100%;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.video-gradient {
  @include position(absolute, 0 null null null);
  @include size(100% 200px);

  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
